@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);

/* Reset some default styles for better consistency */

:root {
  --primary-bg: #0c0c0c; /* Dark background */
  --secondary-bg: #ff6600; /* Slightly lighter background */
  --accent-color: #ffcc00; /* Yellow accent color */
  --text-color: #ffffff; /* White text color */
  --heading-color: #66ccff; /* Light blue heading color */
  --card-bg: #333333; /* Dark card background */
  --link-color: #ffcc00; /* Yellow link color */
  --link-hover-color: #ffffff; /* White link hover color */
}


.chrome {
  position: relative;
  background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #f5f5f5;
  font-size: 200px;
  font-family: 'Titillium Web', sans-serif;
  font-style: italic;
  margin: 0;
  line-height: 1;
}

.chrome:before {
  content: 'CHROME';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
  background-position:-680px 0;
  -webkit-background-clip: text;
  -webkit-text-stroke: 0;
  padding-right: 300px;
  -webkit-animation-name: chrome_effect;
  -webkit-animation-duration: 6s;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}


.dreams {
  position: absolute;
  margin: 0px;
  font-family: 'Mr Dafoe', cursive;
  font-size: 160px;
  color: #F975F7 ;
  transform:rotate(-15deg);
  -ms-transform:rotate(-15deg); /* IE 9 */
  -webkit-transform:rotate(-15deg); /* Safari and Chrome */
  margin-left: 400px;
  margin-top: -120px;
  -webkit-text-stroke: 1px #f008b7;
  -webkit-filter: drop-shadow(2px 2px 20px #f008b7);
  z-index: 20;
}

.windows .dreams {
  -webkit-text-stroke: 4px #f008b7;
}


body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Orbitron', sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
    line-height: 1.6;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    color: var(--heading-color);
    padding: 15px 0;
  }
  
  header h1 {
    font-size: 36px;
  }
  
  main {
    margin-top: 20px;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .section h2 {
    color:   var(--heading-color); /* Light blue heading color */
    border-bottom: 2px solid #2c3e50;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  
  .format-card {
    background-color: var(--card-bg);
    border: 1px solid #555;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
    margin-bottom: 20px;
  }
  
  .format-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .format-card img {
    max-width: 100%;
    height: 200px;
  }
  
  .format-details {
    padding: 20px;
  }
  
  .format-details h3 {
    color: var(--heading-color);
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .format-details p {
    color: var(--text-color);
    margin-bottom: 20px;
  }
  
  .format-details a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: bold;
  }
  
  .format-details a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
  }
  
  .footer {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    header h1 {
      font-size: 28px;
    }
  
    .format-details h3 {
      font-size: 18px;
    }
  
    .footer {
      position: relative;
    }
  }
  